<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Caregivers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/WebSocketController.js"></script>
</head>

<body>
<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>


        <div class="card">
            <div class="card-body">
                <div th:switch="${caregivers}" class="container my-5">
                    <p class="my-5">
                        <a href="/add-caregiver" class="btn btn-primary">
                            <i class="fas fa-user-plus ml-2"> Add Caregiver </i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No record found !!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Birth Date</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="caregiver : ${caregivers}">
                                    <td th:text="${caregiver.name}"></td>
                                    <td th:text="${caregiver.birthDate}"></td>
                                    <td th:text="${caregiver.gender}"></td>
                                    <td th:text="${caregiver.address}"></td>
                                    <td>
                                        <a th:href="@{/caregiver/edit/{id}(id=${caregiver.id})}"
                                           class="btn btn-primary">
                                            <i class="fas fa-user-edit ml-2"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/caregiver/delete/{id}(id=${caregiver.id})}"
                                           class="btn btn-primary">
                                            <i class="fas fa-user-times ml-2"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>